*{
    font-family: 'Arial Narrow Bold', sans-serif;
}

body{
    margin: 0px;
}

#container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 15% 85%;
    /* background-color: rgb(255, 249, 241); */
    height: 100px;
}


#sidebar{
   border: 1px solid black;
  text-align: center;
  height: 1800px;
}

#sidebar h3{
    color: red;
  
}

#sidebar>a{
    text-decoration: none;
    font-weight: bold;  
    color: rgb(138, 129, 6);
}


#sidebar>a:hover{
     color: rgb(0, 81, 255);
  
}
#sidebar>button{
    padding: 5px 10px;
    background-color: blue;
    color:white;
    width: 70%;
    margin: 10px;

}
#sidebar>input{
   
    width: 90%;
    margin: 10px;

}


#main{
    border: 1px solid brown;
    width: 90%;
    margin:auto;
    display: grid;
    gap:20px;
    margin-top: 15px;
}

#main>div{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
}

#main>div>div{
padding: 5px;
}

#hoverEffect:hover{
    box-shadow: 0px 0px 3px 1px rgb(209, 209, 209);
    cursor: pointer;
}